#breadcrumb, #index, #folderlist {
    float: left;
    clear: both;
    list-style-type: none;
}

#breadcrumb li {
    float: left;
}

#breadcrumb li:after {
    content: ' -> ';
}

#breadcrumb li:last-child:after {
    content: none;
}

ul.thumbnails {
    margin: 0;
    padding: 0;
    display: block;
    width: 650px;
}

ul.thumbnails li {
    display: block;
    margin: 0;
    padding: 4px;
    float: left;
}

ul.thumbnails a {
    display: block;
}
